.container {
	
	width: 1291px;
	margin: 0 auto;
}


header {
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 60px;
}


.logo {
	margin-right: 80px;
}


nav {
	display: inline-block;
}

li {
	display: inline-block;
	margin-right: 80px;
}

a {
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.active {
	color: #4E6FAE;
}
/*header-ი დასრულდა*/

.s1 {
	margin-left: 100px;
}


.bluebox{
	width: 50px;
    height: 50px;
    background: #5012D5;
    color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px;
	margin-bottom: 20px;
}

.purpleH4 {
	color: #8D81FF;
	font-family: "BPG Nino Mkhedruli";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 8px;
}
.purpleH2 {
	color: #4E6FAE;
    font-family: "ALK Life", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 13px;
}

.indeximg {
	
}

.myp {
	color: #4E6FAE;

	font-family: "ALK Tall Mtavruli", sans-serif;
	
	margin-top: 5px;
	margin-left: 500px;
	vertical-align: top;
	display: inline-block;


	
}
.myp2 {
		color: #4E6FAE;
		font-family: "ALK Tall Mtavruli", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-top: 5px;
		margin-left: 500px;
		vertical-align: top;
		display: inline-block;
}

.myp3 {
	color: #4E6FAE;
		font-family: "ALK Tall Mtavruli", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-top: 5px;
		margin-left: 500px;
		vertical-align: top;
		display: inline-block;
}
/*article დასასრული*/

.container2 {
	margin-left: 240px;
}



.footerimg1 {
	margin-left: 100px;
	margin-right: 41px;

}


.footerimg2 {
	margin-right: 41px;
}
/*index.html დასრულდა*/

.newsnav {
	display: inline-block;
}
.newsimg1 {
	margin-right: 80px;


}


.newsli1 {
	margin-right: 80px;
}

.indeximg2 {
	margin-bottom: 100px;
}

.infodiv {
	
	margin-bottom: 26px;
}


.newsh2 {
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
}

.line {
	width: 2px;
    height: 24px;
    background-color: #5012D5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}

.indexh3 {
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;

}


.newsh4 {
	font-family: "Oswald", serif;
	color: #3F4145;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
}


.cardimg{
	margin-right: 30px;
}



.newsp {
  font-family: "Saira Condensed", sans-serif;
  display: inline-block;
  width: 335px;
  line-height: 1.8;
  color: #7E8898;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.card1 {
	
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	padding: 21px 23px;
	display: inline-block;
	margin-right: 50px;
	vertical-align: top;
}


.card2 {
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	padding: 20px 20px;
	display: inline-block;
	vertical-align: top;
}


.newsfb {
	margin-top: 91px;
	margin-right: 41px;
}
.newsline {
	margin-right: 41px;
}

/*news.img დასრულდა*/

.contpic {
	margin-right: 60px;
}


.s3 {
	background-color: #E7E7E7;
	padding: 100px 0 100px 100px;
}

.contactdiv {
	display: inline-block;
	vertical-align: top;
	margin-right: 172px;
}

.conh3 {
	color: #4E6FAE;
	font-family: "Helvetica Neue";
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 30px;
}



.conp {
	color: #3F4145;
	font-family: "Helvetica Neue LT GEO";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 30px;
}


span {
	color: #7E8898;
}



.conimg2 {
	margin-top: 91px;
	margin-right: 41px;
	margin-right: 41px;
}
